.details {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;

    &__movie {
        display: flex;
        gap: 3rem;
    }


    &__image {
        width: 150px;
    }

    &__title {
        font-size: 15px;
        font-weight: 700;
    }

    &__span {
        font-size: 12px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__subtitle {
        font-size: 13px;
        font-weight: 700;
        padding-top: 1rem;
    }

    &__paragraph {
        font-size: 12px;
        padding-top: 10px;
    }

    &__trailer {
        display: flex;
        flex-direction: column;
    }

    &__video {
        padding-top: 1rem;
    }

    &__runtime {
        font-size: 10px;
        background-color: rgba(12, 11, 11, 0.864);
        color: #fff;
        width: 60px;
        padding: 6px;
        text-align: center;
        border-radius: 5px;
        margin-top: 10px;
    }

    &__genre {
        font-size: 10px;
        background-color: #1c508d;
        color: #fff;
        padding: 6px;
        text-align: center;
        border-radius: 5px;
        margin-top: 10px;
    }

    &__buttons {
        display: flex;
        gap: 10px;
    }

}
