
.cartelera {
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem;
    gap: 2rem;

    &__cards {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title {
        font-size: 1.125rem;
        letter-spacing: .25px;
        font-weight: 500;
    }

}

@media (max-width:450px) { 
    .cartelera {
        width: 100%;
        padding: 4rem 0.1rem;

        &__title {
            display: flex;
            align-self: center;
        }
    }

}