.header {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 50px;

    &__navbar {
        display: flex;
        width: 100%;
        padding: 24px 24px;
        justify-content: space-between;
    }

    &__logo {
        width: 148px;
        cursor: pointer;
    }

}

@media (max-width:450px) { 
    .header {

        &__navbar {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        &__logo {
            width: 120px;
        }
    }

}

