.selectHeader {
    display: flex;
    gap: 1rem;
    align-items: center;

    &__select {
        width: 200px;
        background-color: #1c508d;
        border-radius: 5px;
        border: none;
        outline: none;
        color: #fff;
        font-size: .75rem;
        padding: 6px 12px;
    }


    &__icon {
        width: 25px;
        height: 25px;
        background-color: #1c508d;
        object-fit: contain;
        border-radius: 50%;
        cursor: pointer;
        padding: 5px;
    }

    &__input {
        border-radius: 1.5rem;
        background-color: #dbe2f1;
        outline: none;
        font-size: .75rem;
        padding: 6px 12px;
        color: #1c508d;
    }

}

input::placeholder {
    color: #1c508d;
}

@media (max-width:450px) { 
    .selectHeader {

        &__select {
            width: 120px;
        }

        &__input {
            width: 100px
        }
    }
}


.loginFormOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .loginFormContainer {
    position: relative;
    width: 300px;
  }
  
  .loginForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .closeButton {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(242, 242, 242);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    cursor: pointer;
  }
  
  .closeButton span {
    font-size: 16px;
  }